body {
	background-color: black;
	font-size: 16px;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 220px;
}
.postcardHeader {
	display: flex;
}

.img1 {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.title {
	margin: 0;
	margin-top: 10px;
	width: 80%;
	margin-left: 10px;
	font-family: "Times New Roman", Times, serif;
}

.postcardBody {
	display: flex;
}

.bodyLeft p {
	width: 200px;
	margin-left: 6px;
	margin-right: 5px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

#firstP {
	margin-top: 10px;
}

.bodyRight input[type="text"] {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	border: none;
	border-bottom: gray solid 1px;
	width: 160px;
	padding-top: 15px;
}

.postcardFooter {
	text-align: center;
	margin-top: 30px;
}

.postcardFooter input[type="submit"] {
	font-size: 16px;
	border: none;
	border-bottom: gray 1px solid;
	border-right: gray 1px solid;
}

.postcardFooter input[type="submit"]:active {
	border: none;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
}
